<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blueshit.testweb.dao.OrderTableDao">
    <resultMap id="orderMap" type="cn.blueshit.testweb.po.OrderTable">
        <id column="id" property="id"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="descs" property="descs" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="OrderTable_Column_Sql">
        orderId,descs
    </sql>

    <insert id="insertByOrderId" parameterType="java.lang.Long">
        INSERT INTO orderTable (<include refid="OrderTable_Column_Sql"/>)
        values (#{orderId},'test')
    </insert>

    <select id="selectByOrderId" resultMap="orderMap"
            parameterType="java.lang.Long">
        select id ,
        <include refid="OrderTable_Column_Sql"/>
        from orderTable where 1=1
        AND orderId=#{orderId}
    </select>

</mapper>